/*
*Styling for submit new tweet form
*/
/* new tweet form is not shown by default */
.new-tweet {
  display: none;
}

.tweet-form {
  margin-top: 32px;
  display:flex;
  flex-direction: column;
  font-weight: 600;
  
  label {
    align-self: start;
  }
}

.submit-tweet {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
}

/* styling for text in new tweet form */
#tweet-text {
  font-size: 22px;
  outline: 0;
  background-color: transparent;
  border-width: 0 0 4px;
  border-color: gray;
  margin-bottom: 12px;
  padding-top: 8px;
  height: 50px;
}

/* styling for button that submits new tweet form */
#tweet-button {
  background-color: #4056A1;
  color: white;
  font-size: 18px;
  padding: 4px 8px 4px 8px;
  border: none;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 10px #05A2FF;
  }

  &:active {
    transform: scale(0.98);
    box-shadow: none;
  }
}

/* styling for error message above new tweet */
#error {
  color: red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-style: solid;
  border-color: red;
  border-radius: 4px;
  margin: 24px;
}