/* TODO: animate tweet button effects */
/*
*Styling for each tweet
*/
$light-blue: #9fb1ec;
$blue: #4056A1;
$gold: goldenrod;
.tweet {
  margin-top: 48px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 10px;
  border-color: gray;
  width: 100%;
  text-align: start;
  overflow-wrap: break-word;
  padding: 18px;

  &:hover {
    box-shadow: 4px 4px $light-blue;
    transform: scale(1.01)
  }

  /* styling for icon/name/tag above tweet */
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .tag {
      padding-top: 18px;
      padding-right: 12px;
      color: $light-blue;
    }

    .name {
      display: flex;
      align-items: center;

      > * {
        padding: 8px;

      }
    }
  }

  /* styling for timeago and buttons below tweet */
  footer {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    border-top-style: solid;
    border-bottom: 10px;
    border-color: gray;
    font-size: 16px;

    > * {
      padding-left: 12px;
      padding-right: 12px;
    }

    .icons {
      color: $blue;

      > * {
        padding: 8px;

        &:hover {
          color: $gold;
        }

        &:active {
          transform: scale(0.96);
        }
      }
    }
  }
}