/*
*Styling for the header area and profile image
*/
.header {
  display: flex;
  height: 520px;
  width: 100%;
  background-color: #2196f3;
  background-image: url(https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png);
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

#name {
  font-weight: normal;
  color: white;
}
