/*TODO: convert css to scss*/
/*TODO: animate button hover and click effects*/
/* Styling nav bar */
nav {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: transparent;
  color: #FFFFFF;
  padding: 1.5em;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}
nav span {
  font-family: "Bungee", cursive;
}
nav #logo {
  text-shadow: -1px -1px 0 #4056A1, 1px -1px 0 #4056A1, -1px 1px 0 #4056A1, 1px 1px 0 #4056A1;
  /* making black twitter svg into blue logo */
}
nav #logo #bird {
  height: 0.8em;
  width: 0.8em;
  filter: brightness(0.9) invert(0.7) sepia(0.7) hue-rotate(180deg) saturate(300%);
}

#logo {
  font-size: 32px;
}

/* Styling 'write new tweet' button/arrow */
#new-tweet-button {
  background: none;
  border: none;
  transition-duration: 0.2s;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  /* Arrow will bounce up and down*/
}
#new-tweet-button i {
  animation: bounce 1.5s infinite;
}
#new-tweet-button:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}
#new-tweet-button:active {
  transform: scale(0.9);
}

#new-tweet-text {
  font-family: "Source Sans Pro", sans-serif;
}

/* Styling scroll to top button*/
#scroll-to-top {
  display: none;
  position: fixed;
  z-index: 2;
  bottom: 4%;
  right: 4%;
  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  /* Arrow will bounce up and down*/
}
#scroll-to-top i {
  animation: bounce 1.5s infinite;
}
#scroll-to-top:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}
#scroll-to-top:active {
  transform: scale(0.9);
}

/* bounce animation */
@keyframes bounce {
  0%, 100% {
    transform: translateY(-4);
  }
  50% {
    transform: translateY(4px);
  }
}
