nav {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color:#FFFFFF;
  padding: 1.5em;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top:0;
  width: 100%;

}

nav span { 
  font-family: "Bungee", cursive;

}

#logo {
  font-size: 32px;
}

#new-tweet-button {
  background: none;
  border: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}

#new-tweet-button:hover {
  transform: scale(1.1)
}

#new-tweet-button:hover i{
  animation: bounce 1.5s infinite;

}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0)
  }
  50% {
    transform: translateY(6px);
  }
}

#new-tweet-text {
  font-family: "Source Sans Pro", sans-serif;
}

#scroll-to-top {
  display: none;
  position: fixed;
  z-index: 2;
  bottom: 4%;
  right: 4%;
  background-color: #4056A1;
  color: white;
  border: none;
  border-radius: 50%;
  /* font-size: 80px; */
  height: 8%;
  width: 8%;
}