/*TODO: convert css to scss*/
/*TODO: animate button hover and click effects*/

nav {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: transparent;
  color:#FFFFFF;
  padding: 1.5em;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top:0;
  width: 100%;
}

nav span { 
  font-family: "Bungee", cursive;
}

#logo {
  font-size: 32px;
}

#new-tweet-button {
  background: none;
  border: none;
  transition-duration: 0.2s;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}

#new-tweet-button i{
  animation: bounce 1.5s infinite;
}

#new-tweet-button:hover {
  transform: scale(1.1)
}

#new-tweet-button:active {
  transform: scale(0.9);
}

#new-tweet-text {
  font-family: "Source Sans Pro", sans-serif;
}

#scroll-to-top {
  display: none;
  position: fixed;
  z-index: 2;
  bottom: 4%;
  right: 4%;
  background-color: #4056A1;
  color: white;
  border: none;
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

#scroll-to-top i{
  animation: bounce 1.5s infinite;
}

#scroll-to-top:hover{
  transform: scale(1.1);
  transition-duration: 0.2s;
  background-color: rgb(18, 96, 214);
}


#scroll-to-top:active {
  transform: scale(0.9);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-4)
  }
  50% {
    transform: translateY(4px);
  }
}