.tweet-form {
  display:flex;
  flex-direction: column;
  font-weight: 600;
}

.tweet-form label {
  align-self: start;
}

.submit-tweet {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
}

#tweet-text {
  font-size: 22px;
  outline: 0;
  background-color: transparent;
  border-width: 0 0 4px;
  border-color: gray;
  margin-bottom: 12px;
  padding-top: 8px;
  height: 50px;
}

#tweet-button {
  background-color: #4056A1;
  color: white;
  font-size: 18px;
  padding: 4px 8px 4px 8px;
  box-shadow: none;
}

#tweet-button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(105, 80, 248, 0.6) ;
}

#tweet-button:active {
  transform: scale(0.98);
  box-shadow: none;
}